{% extends 'base.html.twig' %}

{% block title %}Panier de commande{% endblock %}

{% block body %}

{% include ('_partials/_nav.html.twig')  %}

<h1 class="text text-center text-primary">Votre panier</h1>

    <p></p>
		{# <h1>Votre Panier</h1> #}

    {# <p><b>Panier ID :</b> {{ cart.id }}</p> #}
    {# <p><b>Utilisateur : </b>{{ cart.user.nom }}</p> #}
    <!-- Ajoutez d'autres informations du panier ici -->

<div class="container-fluid w-50">
	<div class="col-10">
    <table class="table table-hover table-primary">
        {# <thead> #}
            <tr class="text-center">
                <th>id</th>
								<th>Désignation</th>
								<th>Prix unitaire</th>
								<th>Qté</th>   
                <th>TVA</th>
								<th>Sous-total TTC</th>
								<th>Action</th>
            </tr>
        {# </thead> #}
        {# <tbody> #}
        {# <div> #}
					{% for item in cart.items %}
						{# <div> #}
							<tr>
								<td>{{ item.produit.id }}</td>
								<td>{{ item.produit.libelle }}</td>
								<td class="text-center">{{ item.produit.prixht }}</td>
								<td class="text-center">{{ item.quantity }}</td>
								<td class="text-center">{{ item.produit.tva }}</td>
								<td class="text-center">{{ (item.produit.prixht * item.quantity) * (1 + item.produit.tva) }} €</td>
								<td class="text-center"><a href="{{ path('cart_remove', { id: item.produit.id, quantity: 1  }) }}" class="btn btn-sm btn-outline-danger"><b>Supprimer</b></a></td>
							</tr>	
						{# </div> #}
    			{% endfor %}
				{# </div> #}
			{# </tbody> #}
   	</table>
	</div>
	<div class="col-3 ms-1">			
		<h4 class="text-center">Total : {{ cart.items|reduce((total, item) => total + (item.produit.prixht * item.quantity), 0) }} €</h4>
	</div>
	<td><a href="{{ path('app_main') }}" class="btn btn-sm btn-outline-primary"><b>Page d'accueil</b></a></td>
	<td><a href="{{ path('validation_commande') }}" class="btn btn-sm btn-outline-success"><b>Passez la commande</b></a></td>						
</div>	

{% endblock %}						




