{{ form_start(form) }}

    {# {{ form_widget(form) }} #}

    {{ form_row(form.libelle) }}
    {{ form_row(form.description) }} 
    {{ form_row(form.prixht) }}
    {{ form_row(form.tva) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.categorie) }}


      <button class="btn btn-sm btn-outline-success"><b>{{ button_label|default('Enregistrer') }}</b></button> 	

{{ form_end(form) }}


