{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <h1 class="text-center">DETAILS DU PRODUIT</h1>

  <div class="container w-50 ms-6 my-4 mb-2">
    <table class="table table-striped-column table-secondary table w-auto table-bordered border-dark text-center ms-6">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            <tr>
                <th>Prixht</th>
                <td>{{ produit.prixht }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ produit.tva }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ produit.photo }}</td>
            </tr>
        </tbody>
    </table>
		<div class="col my-2">
    	<a href="{{ path('app_produit_index') }}" class="btn btn-sm btn-outline-primary"><b>Retour à la liste</b></a>
    	<a href="{{ path('app_produit_edit', {'id': produit.id}) }}", class="btn btn-sm btn-outline-success"><b>Modifier</b></a>
			<div class="col my-2">
    		{{ include('admin/produits/_delete_form.html.twig') }}
			</div>
		</div>
</div>

{% endblock %}