{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    
    <h1 class="text-center">LISTE DES CATEGORIES DE PRODUITS (index)</h1>

<div class="col ms-3">
<a href="{{ path('app_categories_new') }}" class="btn btn-sm btn-outline-danger"><b>Créer</b></a>
</div>

<div class="container my-5 mb-3">
    
    <table class="table table-sm table-bordered border-dark text-center ms-6">
        <thead>
            <tr class="table table-secondary table-bordered border-dark">
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.nom }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    <a href="{{ path('app_categories_show', {'id': category.id}) }}" class="btn btn-sm btn-outline-primary"><b>Voir</b></a>
                    <a href="{{ path('app_categories_edit', {'id': category.id}) }}" class="btn btn-sm btn-outline-success"><b>Editer</b></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categories_new') }}" class="btn btn-sm btn-outline-danger"><b>Créer</b></a>
</div>

{% endblock %}
