{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}

  <h1 class="text-center">CRÉER UNE NOUVELLE CATEGORIE DE PRODUITS</h1>
	<section class="container my-3">
    <div class="row">
			<div class="col">  

				{{ form_start(form) }}
      	{{ form_errors(form) }}
				<fieldset class="my-3">
	   			{{ form_row(form.nom) }}
				</fieldset>
				<fieldset class="my-3">
       		{{ form_row(form.slug) }}
				</fieldset>
				<fieldset class="my-3">
	     		{{ form_row(form.image) }} 
				</fieldset>
				<fieldset class="my-3">
	     		{{ form_row(form.parent) }} 
				</fieldset>
		 	</div>  
		</div>

				<button type="submit" class="btn btn-outline-success">{{ button_label|default('Save') }}</button> 		
				{{ form_end(form) }}

			    {# {{ include('admin/categories/_form.html.twig') }} #}


    <a href="{{ path('app_categories_index') }}" class="btn btn-outline-primary"><b>Retour à la liste</b></a>
	</section>

{% endblock %}
