{{ form_start(form) }}

    {{ form_widget(form) }}

    {# {{ form_row(form.libelle) }} #}
    {{ form_row(form.description) }} 
    {{ form_row(form.message) }}
    {{ form_row(form.message) }}
    {{ form_row(form.message) }}
    {{ form_row(form.message) }}

    		
{{ form_end(form) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
