{{ form_start(form) }}

    {# {{ form_widget(form) }} #}

    {{ form_row(form.libelle) }}
    {{ form_row(form.description) }} 
    {{ form_row(form.prixht) }}
    {{ form_row(form.tva) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.photo) }}

    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>    		

{{ form_end(form) }}


